.input-container {
  position: relative;
  background: transparent;
}

.input-container__input {
  -webkit-appearance: none !important;
  width: 100%;
  padding: 14px 45px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary);
  background: var(--text-color);

  box-shadow: var(--box-shadow--primary);
  color: var(--black-light);
  margin: 1rem 0;
}
.input-container__message {
  position: absolute;
  left: 2px;
  top: -8px;
  display: none;
  color: var(--secondary);
}

.input-container__input:focus {
  outline-color: var(--primary);
  outline-offset: 4px;
  outline-width: 1px;
}
.input-container__input--invalid {
  border: 2px solid var(--secondary);
}
.input-container__message--visible {
  display: block;
}

.input-container__icon-container {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
  user-select: none;
}
.input-container__icon-container span {
  max-width: 20px;
}
.input-container__icon-container span img {
  pointer-events: none;
  user-select: none;
}
@media (min-width: 500px) {
  .input-container__input {
    padding: 16px 45px;
  }
}
