.button {
  position: relative;
  padding: 1rem;
  font-weight: 600;
  width: 100%;
  font-size: 20px;
  border-radius: var(--border-radius);
  background-color: var(--var--secondary);
  color: inherit;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button::after {
  content: " ";
  position: absolute;
  z-index: 10;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 10%);
  border-radius: var(--border-radius);

  transition: all 0.1s ease-in-out;
}
.button::before {
  content: " ";
  position: absolute;
  z-index: 10;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgb(0 0 0 / 10%);
  border-radius: var(--border-radius);

  transition: all 0.1s ease-in-out;
}
.button:hover,
.button:focus {
  background-color: var(--var--secondary-dark);
}
.button:focus {
  outline-offset: 2px;
  outline-color: var(--var--secondary-dark);
  outline-width: 2px;
}

.button:active {
  border: 2px solid var(--var--secondary-dark);

  background-color: var(--var--secondary);
}
.button:active::after,
.button:active::before {
  width: 100%;
}
