.flag {
  position: relative;
  width: 45px;
  height: 45px;
  background: var(--var-bg-lght);
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  border: 1px solid var(--var--primary);
  overflow: hidden;
}
.flag span img {
  pointer-events: none;
  user-select: none;
}
.down .flag {
  border: 1px solid var(--var--secondary);
}

.floatingBox {
  display: flex;
  width: max-content;
  padding: 16px;
  border-radius: var(--border-radius);
  min-width: max-content;
  box-shadow: var(--box-shadow);

  background: var(--var-bg-lght);
}
.floatingBox section:first-child {
  display: flex;
  align-items: flex-end;
  margin-right: -1rem;
  justify-content: flex-end;
}
.floatingBox p {
  margin: 0;
}
.floatingBox section:first-child div:last-child {
  position: relative;
  z-index: 10;

  top: -25%;
  left: -25%;
}
.floatingBox section:last-child {
  text-align: end;
}

.floatingBox section:last-child .percentageChange {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  max-height: 2rem;
  margin: 0 0;
}
.floatingBox section:last-child .percentageChange .stateIcon {
  position: relative;
  width: 14px;
  height: 8px;
  margin-top: 2px;
}
.floatingBox section:last-child .percentageChange p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  letter-spacing: 1px;
}
.floatingBox section:last-child p {
  font-size: 12px;
  font-weight: 600;
}
.floatingBox section:last-child small {
  font-size: 10px;
}
@media (min-width: 700px) {
  .floatingBox {
    padding: 16px;

    transform: scale(1.2);
    margin: 0 20px;
  }
}
@media (min-width: 1000px) {
  .floatingBox {
    transform: scale(1.5);
  }
}
