.floatingBox p {
  margin: 0;
}

.floatingBox {
  text-align: end;
}

.floatingBox .percentageChange {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  max-height: 2rem;
  margin: 0 0;
}
.floatingBox .percentageChange .stateIcon {
  position: relative;
  width: 14px;
  height: 8px;
  margin-top: 2px;
}
.floatingBox .percentageChange p {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  letter-spacing: 1px;
}
.floatingBox p {
  font-size: 12px;
  font-weight: 600;
}
.floatingBox small {
  font-size: 10px;
}
@media (min-width: 700px) {
  .floatingBox {
    padding: 16px;

    transform: scale(1.2);
    margin: 0 20px;
  }
}
@media (min-width: 1000px) {
  .floatingBox {
    transform: scale(1.5);
  }
}
