.main {
  overflow-x: hidden;
  min-height: 100vh;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 70px;
}
.currencySection {
  width: 100%;
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  background: #e6e6e612;
}
.formSection {
  margin-top: auto;
}
@media (min-width: 425px) {
  .main {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .main {
    width: 100%;
    flex-direction: row;
  }

  .formSection {
    max-width: 40%;

    order: 1;
    width: 100%;
  }
  .currencySection {
    position: relative;
    width: 100%;
    flex: 1 1;
    padding: 60px;
    order: 2;
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    right: 0;
    background: url(/bg-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .currencySection::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(8, 17, 20, 0) 0%,
      rgba(8, 17, 20, 1) 100%
    );

    z-index: 10;
    top: 0;
  }
}
