.main {
  overflow: hidden;
  height: 100vh;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.currencySection {
  min-height: 90px;
  padding: 8px;
}
@media (min-width: 700px) {
  .main {
    width: 100%;
    flex-direction: row;
  }

  .formSection {
    max-width: 600px;
    min-width: 500px;
    order: 1;
    width: 100%;
  }
  .currencySection {
    width: 100%;
    flex: 1 1;
    padding: 60px;
    order: 2;
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
  }
}
